header{
    background-color: #f3a600;
    border: 2px solid;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

.text{
    font-family: 'Jost', 'sans-serif';
    text-align: right;
}

.photo{
    border-radius: 10% 10% 10% 10%;
    margin-left: 20px;
    width: 150px;
    height: 150px;
}

nav{
    position: absolute;
    top: 90px;
    right: 40px;
}


nav a{
    color: black;
    font-weight: bold;
    font-weight: 900;
    text-decoration: none;

}

nav a:hover{
    color: white;
    font-size: 17px;
}

.add{
    font-family: 'Jost', 'sans-serif';
    font-size: 38px;
    text-align: center;
}

.link:hover{
    color:#f3a600;
    font-size: 40px;
}